# Discard node_modules and builds
node_modules/
dist/

# Discard python cache
__pycache__/
*.pyc
.pytest_cache/

# Discard virtual envs
venv/
.venv/
env/

# Discard env files
.env
.env.local

# OS files
# Media files
backend/app/media/videos/*
backend/app/media/thumbnails/*
!backend/app/media/videos/.gitkeep
!backend/app/media/thumbnails/.gitkeep

# Keycloak binary & data
keycloak-*/
*.mv.db
*.trace.db
keycloak-26.7.0/